@tailwind utilities;

@layer utilities {
  @media (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    html {
      scroll-padding-top: 4rem;
    }
  }
}